In [13]:
import pandas as pd

In [19]:
df = pd.read_csv('results/by_model_pair/FOUR_1-FOUR_1_latest.csv')

In [20]:
df = df[df["Format Errors"] == 0]

In [21]:
df.columns

Index(['Model Pair', 'Grid ID', 'Config ID', 'Run ID', 'Context', 'Fog of War',
       'Grid', 'Bucket', 'Sub-stratum', 'Pay4Partner', 'Contract Type',
       'Total Turns', 'Format Errors', 'Non-Cooperative Baseline Player 0',
       'Non-Cooperative Baseline Player 1', 'Total Score', 'Score Player 0',
       'Score Player 1', 'Gini', 'Max Possible Score', 'Reached Goal Player 0',
       'Reached Goal Player 1', 'Total Trades Proposed',
       'Total Trades Accepted', 'Total Trades Rejected',
       'Total P4P Promises Kept', 'Total P4P Promises Broken',
       'amount_received_by_0_from_trades', 'amount_received_by_1_from_trades',
       'contract_accepted', 'contract_negotiaion_length',
       'num_tiles_in_contract',
       'num_tiles_promised_to_receive_from_contract_0',
       'num_tiles_promised_to_receive_from_contract_1',
       'moves_made_under_strict_contract_0',
       'moves_made_under_strict_contract_1',
       'points_for_completion_promised_to_0',
       'points_for_completion_promised_to_1', 'B Min Trades Path',
       'B Max Trades Path', 'R Min Trades Path', 'R Max Trades Path',
       'Trade Asymmetry'],
      dtype='object')

In [22]:
df = df[(df['Grid ID'] >= 100) & (df['Grid ID'] < 110)]

In [24]:
df[['Score Player 0',
       'Score Player 1',
       'num_tiles_promised_to_receive_from_contract_0',
       'num_tiles_promised_to_receive_from_contract_1',
       'moves_made_under_strict_contract_0',
       'moves_made_under_strict_contract_1']]

,Score Player 0,Score Player 1,num_tiles_promised_to_receive_from_contract_0,num_tiles_promised_to_receive_from_contract_1,moves_made_under_strict_contract_0,moves_made_under_strict_contract_1
100,55,0,4,1,3,5
101,70,60,3,2,3,2
102,60,70,2,3,2,3
103,70,60,2,3,2,2
104,55,65,4,6,4,6
105,80,50,4,2,4,1
106,80,50,4,1,4,1
107,50,80,1,4,1,4
108,55,65,3,2,0,0
109,70,60,3,2,3,2